* {
  border: 1px solid gold
}

ul {
  list-style-type: none;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  border: 2px dashed #1768ac;
}

label {
  padding: 0 10px 0 0;
  margin: 0 5px 0 0;
}

input {
  margin: 0 0 0 5px;
}


@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
    font-size: 80%;
  }
  
  .logout-button {
    border-radius: 25%;
    font-weight: bold;
    background-color: #ebf13b;
  }
  
  .header-links {
    display: flex;
    flex-direction: column;
  }
  
}

@media only screen and (min-width: 770px) {
  .App {
    width: 100%;
  }
  
  h1 {
    color: white;
  }
  
  .user-label {
    font-weight: bold;
    font-size: large;
    padding: 0 0 5px 0;
    color: white;
    -webkit-text-stroke: .5px #1768ac;
  }
  
  .header-container {
    background-color: #06BEE1;
  }
  
  .logout-button {
    border-radius: 25%;
    font-weight: bold;
    background-color: #ACC6FD;
  }
  
  .header-links li {
    font-weight: bold;
    font-size: large;
    color: #FFFFFF;
  }
  
  .nav-item {
    border: 1px solid #3A97E4;
    background-color: white;
  }

}

@media only screen and (min-width: 1200px) {

}